


.profile_title{
    font-family: Lato;
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primary-color);    
}


.profile_main_col{
    /* padding: 10px; */
}

.profile_row{
    box-shadow: 0px 1px 3.0999999046325684px 1px #00000040;
    border-radius: 12px;
    margin-bottom: 20px;
    position: relative;
}

.profile_icon_col{
    width: 10% !important;
}
@media(max-width:991px){
    .profile_icon_col{
        /* width: 15% !important; */
    }
}
@media(max-width:767px){
    .profile_icon_col{
        width: 15% !important;
    }
}
@media(max-width:575px){
    .profile_icon_col{
        width: 18% !important;
    }
}

@media(max-width:400px){
    .profile_icon_col{
        width: 23% !important;
    }
}

.my_profile_name_details{
    height: fit-content;
}
.profile_text{
    font-family: Lato;
    font-size: var(--normal-text);
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
    /* border: 1px solid red; */
    /* padding: 0; */
}

@media(max-width:575px){
    .profile_text{
        font-size: 12px;
    }
}

.profile_text_tiny_under_name{
    margin: 0;
    /* margin-top: -20px; */
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    color: var(--primary-color);
}
@media(max-width:575px){
    .profile_text_tiny_under_namet{
        font-size: 3px;
        color: red;
    }
}
.profile_list p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
}

@media(max-width:575px){
    .profile_list p{
        font-size: 9px;
    }
}


/* .profile_edit{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13% !important;
} */

.profile_editt{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 98px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FF6600;
    border: 1px solid #FF6600;
    border-radius: 12px;
    background-color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width:575px){
    .profile_editt{
        width: 42.59px !important;
        font-size: 7px;
    }
    .profile_editt img{
        width: 50% !important;
    }
}

/* Edit Profile Modal Form */

.edit_profile_modal input{
    width:100%;
    border-radius: 12px;
    border: 2px solid #D9D9D9;
    height: 46px;
    padding-left: 30px;
}

.edit_profile_modal .edit_profile_btn{
    border: unset;
    background-color: #FF6600;
    border-radius: 12px;
    color: #fff;
    width: 100%;
    height: 46px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
}