.sidebar_col{
    min-height: 100vh;
    border-top-right-radius: 58px;
    background: #FDDFFD;
    padding-top: 40px;
    padding-bottom: 70px;
    position: fixed;
    /* overflow: auto; */
    /* position: sticky; */
    /* position: relative; */
    /* z-index: -1; */
    /* width: 500px !important; */
    /* position: sticky; */
}

.sidebar_col > * {
    justify-content: center;
}

.sidebar_item_col{
    border-radius: 12px;
}

.sidebar_item{
    font-family: Lato;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    color: #660066;
}

@media(max-width:575px){
    .sidebar_item_icon_col{
        /* border: 1px solid purple; */

    }
    .sidebar_item_icon{
        /* height: 32px; */
        /* border: 1px solid red; */
        /* height: 11.59px; */
        /* width: 11.59px; */
    }
    .sidebar_item{
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        color: #660066;
        /* border: 1px solid red; */

        /* border: 1px solid red; */

    }   
    .sidebar_item_icon_col{
        /* border: 1px solid red; */
    }
    .sidebar_item_icon{
        /* border: 1px solid red; */
        width: 11.59px;
    }
}

.sidebar_col .sidebar_col_Mob_btn{
    border:unset;
    background-color: #FDDFFD;
    width: 39px;
    height: 55px;
    border-radius: 12px;
    border: 2px solid red;
    position: absolute;
    top: 50vh;
    left: 80%;

}
.sidebar_col_button{
    width: 1% !important;
    display: none;
    /* border: 2px solid red; */
}

.sidebar_col_button button{
    border:unset;
    background-color: #FDDFFD;
    width: 12px;
    height: 45px;
    border-radius: 12px;
    /* border: 2px solid red; */
    position: relative;
    top: 50vh;
}

@media(max-width:575px){
    .sidebar_col{
        display: none;
        z-index: 1000;
        position: absolute;
        min-height: auto;
        min-height: 1000px !important;
    }
    .sidebar_col_button{
        border-top-right-radius: 58px;
        background: #FDDFFD;
        padding-top: 40px;
        padding-bottom: 70px;
        display: block;   
    }
}