
.welcome{
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    color: #660066;
}

@media(max-width:767px){
    .welcome{
        font-size: 20px;

    }
}

.parent_dashboard_card{
    height: 210px;
    /* border: 1px solid purple; */
}

.dashboard_card{
    background-image: url('../../../assets/images/dashboard_card_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size:contain; */
    height: 212px;
    /* border: 1px solid red; */
     /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */
     /* box-shadow: 0.1px 0.1px 0px 0px #1D153440; */
     /* box-shadow: 14px 12px 17.399999618530273px 0px #1D153440; */
     box-shadow: 14px 12px 17.399999618530273px 0px #1D153440;



}

.dashboard_card img{
    /* border: 2px solid pink; */
    position: absolute;
    z-index: -1;
}

.dashboard_card_ellipse{
    position: absolute;
    left: 36.5%;
    width: 79px;
}

.dashboard_card_partcipate{
    position: absolute;
    top: 20px;
    left: 42.5%;
    width: 39px;
}

.dashboard_card_box{
    position: relative;
    bottom: 0;
    right: 0;
    width: 150px;
}

.partcipated_hunt_No{
    font-family: Lato;
    font-size: 34px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    color: #FDDFFD;
    margin-top: 30px;
}

.dashboard_card_text{
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0.03em;
    color: #FDDFFD;
}

.dashboard_card_small_text{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    color: #FDDFFD;
}

.dashboard_card_hunt{
    position: absolute;
    top: 30px;
    left: 42.5%;
    width: 39px;
}

.hunt{
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */
    box-shadow: 1px 1px 100px 10px #FDDFFD;
    box-shadow: 0px 0px 43.900001525878906px 0px #FDDFFD;
    padding: 60px 40px;
    /* border: 1px solid red; */

}

.hunt h3{
    font-family: Lato;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;   
    color: #660066; 
}

.hunt :nth-child(2){
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: #666666;
    text-align: center;    
}

.hunt :nth-child(3){
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #A1A5C5;
}

.notifications{
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */
    box-shadow: 1px 1px 100px 10px #FDDFFD;
    box-shadow: 0px 0px 43.900001525878906px 0px #FDDFFD;
    padding: 60px 40px;
    /* border: 1px solid red; */

  
}

.notification_h3{
    font-family: Lato;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0em;
    /* text-align: left; */
    
}

.avatar{
    position: relative;
    bottom: 4px;
}

.notification_title{
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    /* text-align: left;     */
}

.notification_just_now{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #A1A5C5;
}

.notification_sub_title{
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;    
}

.notification_text{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #A1A5C5;
}

.no_hunt{
    box-shadow: -3px 5px 31.299999237060547px -17px #B4B2B2;
    padding-top: 40px;
}

.no_hunt p{
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    color: #660066;
    height: 400px;
}