
.welcome{
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    color: #660066;
}

@media(max-width:767px){
    .welcome{
        font-size: 20px;

    }
}

.dashboard_details{
    width: 100% !important;
}

.dashboard_profile{
    width: 34% !important;
    box-shadow: 0px 1px 20.5px -10px #00000040;
    font-family: Lato;
    color: var(--primary-color);
    border-radius: 12px;
    height: 592px;
}
@media(max-width:991px){
    .dashboard_details{
        width: 100% !important;
    }
    .dashboard_profile{
        width: 49% !important;
    }
}
.dashboard_profile p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.dashboard_widget{
    box-shadow: 0px 1px 20.5px -10px #00000040;
    font-family: Lato;
    color: var(--primary-color);
    padding: 20px 0px;
    width: 48.5% !important;
    border-radius: 12px;
    /* border: 1px solid red; */
    height: 255px;
}
@media(max-width:991px){
    .dashboard_widget{
        width: 48.5% !important;
    }  
}
.dashboard_widget a {
    text-decoration: none;
    color: #660066;
}
.dashboard_widget p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

@media(max-width:575px){
    .dashboard_widget{
        width: 48.5% !important;
    }
    .dashboard_widget p{
        font-size: 16px;
        font-weight: 700;
    }   
}

.dashboard_widget button{
    border: 2px solid #660066;
    color: #660066;
    background-color: #FFF9FF;
    border-radius: 12px;
    width: 100%;
    padding: 8px 0px;
}
.dashboard_widget span{
    font-size: 12px;
    font-weight: 700;  
}
.dashboard_widget span.view_details{
    color: #FF6600;
    font-size: 14px;
}

/* Upcoming Hunts */
.upcoming{
    font-family: Lato;
    font-size: 10px;
    font-weight: 700;
}

/* Notification */
.notification_row{
    /* border: 1px solid red; */
    /* display: flex; */
    font-family: Lato;

}

.notification_row_first{
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.notification_row_second{
   margin-left: 10%;
}

.notification_row_third{
   margin-left: 10%;

}

.notification_avatar{
    /* border: 1px solid red; */
    width: 10%;
}

.notification_title{
    font-size: 10.76px;
    font-weight: 500;
    
}

.notification_time{
    font-size: 3.57px;
    font-weight: 400;   
    color: #A1A5C5;
}

.notification_sub_title{
    font-size: 8.57px;
    font-weight: 500; 
    color: #666666;
}

.notification_description{
    font-size: 8.57px;
    font-weight: 400;
    color: #A1A5C5;
}

.no_hunt{
    box-shadow: -3px 5px 31.299999237060547px -17px #B4B2B2;
    padding-top: 40px;
}

.no_hunt p{
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    color: #660066;
    height: 400px;
}

