:root {
    --main-color: #3498db;
    --small-text_mobile: 1rem;
    --small-text_height_mobile:24.6px;

    --title-text_mobile: 1.3rem;
    --title-text_height_mobile:30px;

    --primary-color: #660066;
  }
  